.head-title {
  margin-top: 30px;
  margin-left: 10px;
  text-align: left;
  font-size: 30px;
}

.places-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.places-name {
  font-size: 30px;
}
.home {
  width: 390px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
}
.suite {
  width: 390px;
  margin: 20px 20px 20px 250px;
  padding: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
}

.tiny {
  width: 390px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
}
.home-price {
  display: flex;
  justify-content: flex-end;
}
.price_by_night {
  color: #ff5a5f;
  min-width: 60px;
  height: 60px;
  font-size: 30px;
  margin-left: 40px;
  margin-bottom: 15px;
  padding: 15px;
  border: 4px solid #ff5a5f;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.information {
  height: 80px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  display: flex;
}
.max_guest {
  width: 100px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.max_guest .guest-icon {
  width: 100px;
  height: 40px;
  background: url(badrbnh.github.io/images/icon_group.png)
    no-repeat center;
}
.number_rooms {
  width: 100px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.number_rooms .rooms-icon {
  width: 100px;
  height: 40px;
  background: url(badrbnh.github.io/images/icon_bed.png)
    no-repeat center;
}
.number_bathrooms {
  width: 100px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.number_bathrooms .bath-icon {
  width: 100px;
  height: 40px;
  background: url(badrbnh.github.io/images/icon_bath.png)
    no-repeat center;
}

.user {
  margin: 15px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user .owner {
  font-weight: bold;
  margin-right: 5px;
}

.amenities-desc {
  margin-top: 40px;
}

.amenities-title {
  font-size: 16px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 15px;
}

.ulist {
  margin-top: 15px;
}
.list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.tv-icon {
  background: url(badrbnh.github.io/images/icon_tv.png)
    no-repeat center;
  background-size: contain;
  width: 25px;
  height: 30px;
  font-size: 5px;
  margin-right: 5px;
}
.wifi-icon {
  background: url(badrbnh.github.io/images/icon_wifi.png)
    no-repeat center;
  background-size: contain;
  width: 25px;
  height: 30px;
  font-size: 5px;
  margin-right: 5px;
}
.pet-icon {
  background: url(/badrbnh.github.io/images/icon_pets.png)
    no-repeat center;
  background-size: contain;
  width: 25px;
  height: 30px;
  font-size: 5px;
  margin-right: 5px;
}

.reviews{
    margin-top: 40px;
}

.review-title{
    font-size: 16px;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 15px;
}

.review-ulist{
    margin-top: 15px;
}

.review-list{
    list-style-type: none;

}

.review-head{
    font-size: 14px;
}
.review-p{
    font-size: 12px;
    padding-top: 3px;
    padding-bottom: 20px;
}